# ==========================================
# SERVER
# ==========================================

PORT=3000
NODE_ENV=development

# ==========================================
# DATABASE
# ==========================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mentorias
DB_USER=postgres
DB_PASSWORD=

# ==========================================
# AUTH
# ==========================================

JWT_SECRET=EJEMPLO-n8nw5pWKSlRit2cApL3QY4vHwy7fNtAG
JWT_EXPIRES_IN=8h
